<%- include('partials/header',{
  title: 'index page'
  }) %>
<%-include('./partials/navbar.ejs')%>

<div class= 'login-form'>
  <h2>Register</h2>
    <form action="/bartenders/register" method="POST">
      <input type="text" name="username" placeholder="username"><br>
      <input type="email" name="email" placeholder="email"><br>
      <input type="password" name="password" placeholder="password"><br>
      <button type="submit">Register</button>
    </form>
</div>
    
</body>
</html>