<link rel="stylesheet" href="css/styles.css">

<div class="nav">
    <div class="nav-header">
        <div class="nav-left">
            <a href="/" class="nav-link">Home</a>     
        </div>
        <div class="nav-center">
                <a href="/" class="nav-link">the cocktail index</a>  
        </div>
        <div class="nav-right">
            <a href="/users" class="nav-link">Bartenders</a>
            <a href="/recipes" class="nav-link">Recipe Index</a>
            <a href="/login" class="nav-link">Login</a>
            <!-- <a href="/register" class="nav-link">Resigter</a> -->
            <div class="hamburger-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
            </div> 
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-content">
            <a href="/" class="overlay-link">Home</a>
            <a hre="/recipes" class="overlay-link">Cocktail Feed</a>
            <a hre="/users" class="overlay-link">Bartenders</a>
            <a hre="/" class="overlay-link">Logout</a>
        </div>
    </div>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu')
        const overlay = document.querySelector('.overlay')
        hamburgerMenu.addEventListener('click', (e) => {
            e.currentTarget.classList.toggle('open')
            overlay.classList.toggle('show')
        })
    </script>

</div>