<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<body>
<%-include('./partials/navbar.ejs')%>
    <header>
     <%= message %>
    </header>
    <div class = 'content'> 

            <div class='body-image'>
                    <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=686&q=80">
        
            </div>

        <div class= 'home-description'>
            <h1>The Cocktail Index</h1>
            <h3>An online community where bartenders can share their favorite or unique cocktail recipes.</h3>
            <h4>Join our community!</h4>
            <h4><a href="/register" class="nav-link">Register</a></h4>
                
        </div>
    </div>        
</body>
</html>