body{
    background-color: lightgrey;
    margin: 6rem 0 0 0;
    font-family: 'Special Elite', cursive;
}
.nav{
    position:fixed;
    width: 100%;
    top: 0;
    background-color: white;
    
}
.nav-header{
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
}
.nav-left{
    width: 33.333%;
    text-align: left;
}
.nav-center{
    width: 33.333%;
    text-align: center;
}
.nav-right{
    width: 60%;
    text-align: right;
}
.nav-link{
    text-decoration: none;
    margin-left: 3%;
    text-transform: uppercase;
    color: black;
}
.nav-link:hover{
    color:dodgerblue;
    cursor: pointer;
}
.hamburger-menu{
    width: 40px;
    height: 25px;
    position: relative;
    margin: 14px 15% 0 auto;
    z-index: 2;
    display: none;
}
.bar{
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    left: 0px;
    border-radius: 6px;
    background-color: black;
    transition: all .50s ease-in-out;
}
.bar:nth-child(1){
    top: 0px;
}
.bar:nth-child(2){
    top: 22.5%;
}
.bar:nth-child(3){
    top: 48%;    
}

.open > .bar {
    transition: all .50s ease-in-out;
    background-color: white;
}

.open > .bar:nth-child(1) {
    top: 45%;
    transform: rotate(135deg);
    transition: all .50s ease-in-out;
}

.open > .bar:nth-child(2) {
    left: -60px;
    opacity: 0;
    transition: all .50s ease-in-out;
}
                    
.open > .bar:nth-child(3) {
    top: 45%;
    transform: rotate(-135deg);
    transition: all .50s ease-in-out;
}

.overlay {
    height:100%;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #000000e5;
    top: 0;
    left: -123rem;
    z-index: 1;
    transition: all .60s ease-in-out;
}

.overlay.show {
    left: 0;
}

.overlay-content {
    display: flex;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
}

.overlay-link {
    color: white;
    text-decoration: none;
    font-size: 36px;
    /* display: block; */
}

@media (max-width: 822px) {
    .hamburger-menu {
        display: block;
    }
    .nav-right > a {
        display: none;
    }
}
.photo{
    /* border: 2px solid black; */
    width: 52%;
}
.description{
    float: right;
    /* border: 2px solid black; */
    width: 50%;
    position: relative;
    top: -465px;
    height: 461px; 
}
h1{
    text-align: center;
    
}
