body{
    background-color: beige;
    margin: 6rem 0 0 0;
    font-family: 'Special Elite', cursive;
}

.nav{
    position:fixed;
    width: 100%;
    top: 0;
    background-color: black;
}

.nav-header{
    max-width: 90%;
    margin: 0 auto;                         
    display: flex;
    padding: 20px;
}

.nav-left{
    width: 33.333%;
    text-align: left;
}

.nav-center{
    width: 33.333%;
    text-align: center;
    padding-left: 16%;
}

.nav-right{
    width: 60%;
    text-align: right;
}

.nav-link{
    text-decoration: none;
    margin-left: 3%;
    text-transform: uppercase;
    color: white;
}

.nav-link:hover{
    color: rgb(255, 196, 0);
    cursor: pointer;
}

.hamburger-menu{
    height: 25px;
    position: relative;
    z-index: 2;
}

.bar{
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    left: 0px;
    border-radius: 6px;
    background-color: white;
    transition: all .50s ease-in-out;
}

.bar:nth-child(1){
    top: 0px;
}

.bar:nth-child(2){
    top: 22.5%;
}

.bar:nth-child(3){
    top: 48%;    
}

.open > .bar {
    transition: all .50s ease-in-out;
    background-color: white;
}

.open > .bar:nth-child(1) {
    top: 45%;
    transform: rotate(135deg);
    transition: all .50s ease-in-out;
}

.open > .bar:nth-child(2) {
    left: -60px;
    opacity: 0;
    transition: all .50s ease-in-out;
}
                    
.open > .bar:nth-child(3) {
    top: 45%;
    transform: rotate(-135deg);
    transition: all .50s ease-in-out;
}

.overlay {
    height:100%;
    width: 34%;
    display: flex;
    position: fixed;
    background-color: #000000e5;
    top: 0;
    left: -123rem;
    z-index: 1;
    transition: all .60s ease-in-out;
}

.overlay.show {
    left: 0;
}

.overlay-content {
    display: flex;
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
}

.overlay-link {
    color: white;
    text-decoration: none;
    font-size: 36px;
    padding-bottom: 10%;
}

@media (max-width: 822px) {
    .hamburger-menu {
        display: block;
    }
    .nav-left > a {
        display: none;
    }
}

.content{
    display: flex;
    max-width: 85%;
    margin: 0 auto;
    background-color: #b26000;
    margin-bottom: 10%;
}

h1{
    text-align: center;
    padding-left: 10px;
    padding-top: 2%;
}

h3 {
    text-align: center;
    padding-left: 10px;
    padding-top: 8%;

}
h4{
    text-align: center;
    padding-left: 10px;
    padding-top: 2%;

}
.bartender-content{
    background-color: #b26000;
    max-width: 85%;
    margin: 0 auto;
}
.home-description{
    text-align: center;
    font-size: 20px;
    padding-top: 6%;
    padding-right: 2%
}

main ul{
    text-align: center;
    list-style: none;
    margin: 20px 0 0;
    padding: 10px 0;
    
}

main li{
    padding-bottom: 15px;
    
}

main div{
    display: block;
}

input{
    padding-left: 10px;
}
input[type=text] {
    border: none;
    height: 30px; 
}
input[type=password] {
    border: none;
    height: 30px; 
}

input[type=email] {
    border: none;
    height: 30px; 
}

h2{
    text-align: center;
    padding-left: 10px;
    padding-top: 5%;
}

.photo{
    padding: 2%;
}

.body-image{
    padding-right: 2%;
}
.description{
    width: 50%;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.description ul{
    list-style: none;
    text-align: left;
    padding: 15px;
}

.description li{
    padding-bottom: 15px;
}

.edit-link, .create{
    text-decoration: none;
    padding: 15px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.recipe-new{
    background-color: #b26000;
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10%;
}

.update-button{
    position: relative;
    height: 25px;
    top: 373px;
    left: 65px;
    text-decoration: none;
}

.recipe-feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 85%;
    margin: 0 auto;
    background-color: #b26000;
    padding-left: 6%;
}


.description-top h1 {
    font-size: 23px;
}

.description-bottom {
    display: flex;
    justify-content: space-evenly;
}

.delete-button{
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Special Elite', cursive;
    width: 100px;
    padding: 15px;
    font-size: 20px;
}

.drink-name, .photos{
    height: 50px;
    padding-top: 10px;
}
.ingredients{
    padding-top: 10px;
}
.create-button{
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Special Elite', cursive;
    width: 175px;
    padding: 15px;
    font-size: 20px;
}

.cocktail-image{
    width: 312px;
    height: 330px;
    padding: 10px;
}

.recipe-update{
    padding-top: 30%;
}
img{
    padding: 2%;
}
.splash-image{
    width: 713px;
    height: 500px;
}
.login-description{
    text-align: center;
    font-size: 20px;
    padding-top: 6%;
    padding-right: 2%;
    width: 50%;
}
.register-button{
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Special Elite', cursive;
    width: 130px;
    padding: 15px;
    font-size: 20px;
}
.recipe-text{
    width: 40px;
    height: 40px;
}