<link rel="stylesheet" href="css/styles.css">

<div class="nav">
    <div class="nav-header">
        <div class="nav-left">
                <div class="hamburger-menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                </div> 

        </div>
        <div class="nav-center">
                <a href="/" class="nav-link">the cocktail index</a>  
        </div>
        <div class="nav-right">
            <a href="/bartenders" class="nav-link">Bartenders</a>
            <a href="/recipes" class="nav-link">Recipe Index</a>
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-content">
            <a href="/" class="overlay-link">Home</a>
            <a href="/recipes" class="overlay-link">Cocktail Feed</a>
            <a href="/bartenders" class="overlay-link">Bartenders</a>
            <a href="/" class="overlay-link">Logout</a>
        </div>
    </div>
    <script>
        const hamburgerMenu = document.querySelector('.hamburger-menu')
        const overlay = document.querySelector('.overlay')
        hamburgerMenu.addEventListener('click', (e) => {
            e.currentTarget.classList.toggle('open')
            overlay.classList.toggle('show')
        })
    </script>

</div>