<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>

<h1>Cocktail Feed</h1>
<div class="recipe-feed">
    <div class="photofeed">
        
            <% for(let i = 0; i < recipes.length; i++) { %>
                
                    <a href="/recipes/<%= recipes[i]._id%>"><img src="<%= recipes[i].photo %>" class='cocktail-image'></a>

            <% } %>
        
    </div>
</div>
    
</body>
</html>