<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>
<h1> Meet our Bartenders</h1>
<div class = 'bartender-content'> 
    <main class='home'>
        <ul class='home-index'>
            <% for(let i = 0; i < bartenders.length; i++) { %>
                
                <li class='home-list'>
                    <h1><a href="/bartenders/<%=bartenders[i]._id %>"><%=bartenders[i].username%></a></h1>
                </li>

           <% } %>
        </ul>
    </main>
</div> 
    
        

    
</body>
</html>