<%- include('partials/header',{
    title: 'index page'
    }) %>
<%-include('./partials/navbar.ejs')%>
<div class = 'bartender-content'> 
    <main>
        <h1> Meet our Bartenders</h1>
        <ul>
            <% for(let i = 0; i < bartenders.length; i++) { %>
                
                <li>
                    <a href="/bartenders/<%=bartenders[i]._id %>"><%=bartenders[i].username%></a>
                </li>

           <% } %>
        </ul>
    </main>
</div> 
    
        

    
</body>
</html>